.banner {
    text-align: center;
    padding: 50px 20px;
    background-color: #665e52; 
    color: #dad5b7; 
}

.banner img {
    width: 100%;
    height: auto;
    display: none;
}

.banner img:first-child {
    display: unset;
}


@media (min-width: 768px) {
    .banner {
        padding: 70px 30px;
    }

    .banner img {
        margin: 0 auto;
        max-width: 90%;
    }
}
